In [1]:
import pandas as pd

Cargar datos

In [28]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv("dataset_final.csv")

In [29]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [30]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''
print(f'Hay {df.shape[0]} pokémon en el dataset')

Hay 800 pokémon en el dataset

In [31]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
poison = len(df[df['Type 1'] == 'Poison'])
print(f'Hay {poison} pokémon de tipo Poison en el dataset')

Hay 28 pokémon de tipo Poison en el dataset

In [32]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
total = len(df["Type 1"].unique().tolist())
print(f'Hay {total} tipos de pokémon diferentes en el dataset')

Hay 18 tipos de pokémon diferentes en el dataset

In [33]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
print(df["Type 1"].value_counts())
'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''
maxtype = df["Type 1"].max()
print(f"El tipo de pokémon más habitual es {maxtype}")

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64
El tipo de pokémon más habitual es Water

In [34]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
fastest = df["Name"][df["Speed"].idxmax()]
print(f"El pokémon más rápido es {fastest}")

El pokémon más rápido es DeoxysSpeed Forme

In [39]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''
df_100 = df["Defense"] > 100
print(f"Hay {df_100.sum()} pokémon con una defensa de más de 100")

Hay 123 pokémon con una defensa de más de 100

In [43]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
df_filt = df[(df["Defense"] > 100) & (df["Speed"] > 100)]
print(f"Hay {len(df_filt)} pokémon con una defensa de más de 100 y una velocidad superior a 100")

Hay 9 pokémon con una defensa de más de 100 y una velocidad superior a 100

In [44]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(["Type 1", "Type 2"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [69]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
df_water_fire = df[(df["Type 1"] == "Water") | (df["Type 1"] == "Fire")]
df_water_fire.to_csv("pokemon_water_fire_only.csv")

In [71]:
df_water_fire.shape

(164, 14)

In [70]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
df_legendary = df[df["Legendary"] == True]
df_legendary.to_csv("legendary_pokemon.csv")

In [74]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
df.groupby(["Legendary"])["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"].mean().round(1)

C:\Users\Nuria\AppData\Local\Temp\ipykernel_9240\2908071309.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(["Legendary"])["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"].mean().round(1)

             HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary
False      67.2    75.7     71.6     68.5     68.9   65.5
True       92.7   116.7     99.7    122.2    105.9  100.2

In [75]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
avg_stats_df = df.groupby(["Legendary"])["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"].mean().round(1)
avg_stats_df.rename(index = {False : "No Legendary"}, inplace = True)
avg_stats_df.rename(index = {True : "Legendary"}, inplace = True)
avg_stats_df

C:\Users\Nuria\AppData\Local\Temp\ipykernel_9240\3048260364.py:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  avg_stats_df = df.groupby(["Legendary"])["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"].mean().round(1)

                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary
No Legendary  67.2    75.7     71.6     68.5     68.9   65.5
Legendary     92.7   116.7     99.7    122.2    105.9  100.2

In [52]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemon tiene dos tipos o no
'''
df.loc[df["Type 2"].isna(), "Doble tipo"] = False 
df.loc[df["Type 2"].notna(), "Doble tipo"] = True 
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [59]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''
filtro = df[df["Doble tipo"] == True]
seleccion = filtro[["Name", "Type 1", "Type 2"]]
seleccion.sort_values(["Type 1", "Type 2", "Name"], inplace = True)
seleccion

C:\Users\Nuria\AppData\Local\Temp\ipykernel_9240\1216283238.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seleccion.sort_values(["Type 1", "Type 2", "Name"], inplace = True)

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [68]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra
def total_compra(articulos, compra):
    comprado = []
    list(map(lambda x: comprado.append(articulos[x]), compra))
    return reduce(lambda x, y: x + y, comprado)

print(total_compra(articulos, compra))

# B. Una función que calcule el precio total de la compra con un descuento del 10%
def descuento_10(articulos, compra):
    return total_compra(articulos, compra) * 0.9

print(descuento_10(articulos, compra))

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
def descuento_mayor_100(articulos, compra):
    if total_compra(articulos, compra) > 100:
        return descuento_10(articulos, compra)
    else:
        return total_compra(articulos, compra)

print(descuento_mayor_100(articulos, compra))

# D. Una función que calcule el precio total aplicando el IVA (21%)
def calcular_iva(articulos, compra):
    return total_compra(articulos, compra) * 0.21

print(calcular_iva(articulos, compra))
# E.lista los artículos cuyo precio es superior a 20€
def mayor_20(articulos):
    return dict(filter(lambda x: x[1] > 20, articulos.items()))

print(mayor_20(articulos))

155
139.5
139.5
32.55
{'Pantalón': 30, 'Zapatos': 50, 'Gafas': 25, 'Reloj': 35, 'Corbata': 40}

In [80]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

def info_alumnos(curso, alumnos):
    nombre = []
    apellido = []
    cursando = []
    notas = []

    i = 0
    while i < len(alumnos):
        nombre.append(alumnos[i][0])
        apellido.append(alumnos[i][1])
        cursando.append(alumnos[i][2])
        notas.append(alumnos[i][3])
        i += 1
    
    promedio = []
    for nota in notas:
        promedio.append(reduce(lambda x, y: x + y, nota, 0)/(len(notas)))

    info = []
    for j in range(len(alumnos)):
        if cursando[j] == curso:
            info.append([nombre[j], apellido[j], promedio[j]])
        else:
            continue
    return info

[]